<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        welcome {{request.user}}

        
       <div class="mt-4">

        {%for m in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {%endfor%}
        <br>
        <a href="{%url 'todo-add'%}" class="btn btn-dark">Create your new Todo</a>
        <a href="{%url 'complete-todo'%}" class="btn btn-secondary">Completed todos</a>
        <a href="{%url 'signout'%}"  class="btn btn-success">logout</a>

       </div>
        <h1 class="text-center">Here is the list of todos!!!</h1>

        <table class="table mt-3">
            <tr>
                <th>id</th>
                <th>TaskName</th>
                <th>user</th>
                <th>Status</th>
                <th>date</th>
                <th>Action</th>
            </tr>
            {%for t in todos%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{t.task_name}}</td>
                    <td>{{t.user}}</td>
                    <td>{{t.status}}</td>
                    <td>{{t.date}}</td>
                    <td>
                        <a href="{%url 'todo-delete' t.id%}" class="btn btn-outline-danger">Delete</a>
                        <a href="{%url 'todo-detail' t.id%}" class="btn btn-outline-info">Details</a>
                        <a href="{%url 'todo-update' t.id%}" class="btn btn-outline-success">mark as done</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>